.card-informativo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
        // height: 90px;
    }

    & > div {
            display: flex;
            flex-direction: row;
            width: 365px;
            text-align: left;
            margin-left: 20px;
            align-items: center;
            margin-bottom: 20px;

            img {
                margin-right: 15px;
            }
    }

    .texto-branco {
        color: #fff;
    }

    .texto-black {
        color: #000;
    }

}
    