.card-informativo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 36px 0 37px 0;
    align-items: stretch;

    h5, p {
        margin: 0;
    }

    h5 {
        margin-bottom: 10px;
    }

    & div > div:first-child {
        min-width: 71px;
        text-align: center;
    }

    & > div {
        display: flex;
        flex-direction: row;
        width: 245px;

        img {
            margin-right: 15px;
        }
     
    }

    .texto-branco {
        color: #fff;
        margin-left: 20px;
    }

    .texto-black {
        color: #000;
    }

     @media screen and (max-width:734px) {
        padding-bottom: 0;

           & > div {
                margin-bottom: 50px;
           }
     }

}
    