<form [formGroup]="form" novalidade (ngSubmit)="onSubmit()">
  <div class="formulario">

    <h5>Valor do empréstimo {{valorEscolhido | currency:'BRL'}}</h5>

    <div class="input-field">
      <input id="nome" type="text" class="validate" formControlName="nome">
      <label for="nome" data-error="wrong" data-success="right">Nome</label>
      <span *ngIf="form.get('nome').hasError('required') && formularioSubmetido">Nome obrigatório</span>
    </div>

    <div class="input-field">
      <input id="email" type="text" class="validate" formControlName="email">
      <label for="email">E-mail</label>
      <span *ngIf="form.get('email').hasError('required') && formularioSubmetido">E-mail obrigatório</span>
    </div>

    <div class="input-field">
      <textarea id="comentario" class="materialize-textarea" formControlName="comentario"></textarea>
      <label for="comentario">Comentário</label>
      <span *ngIf="form.get('comentario').hasError('required') && formularioSubmetido">Comentário obrigatório</span>
    </div>
    
    <button class="btn waves-effect waves-light" type="submit" name="enviar" [disabled]="!form.valid">Enviar</button>

  </div>
</form>

<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]"
  [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Solicitação enviada com sucesso!</h4>
  </div>
  <div class="modal-footer" (click)="closeModal()">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div>