.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding: 0 30px;
    min-height: 258px;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 41px;
    padding-top: 20px;
    text-align: center;
    border: none;
    align-items: center;
    align-items: self-end;

    h5 {
        grid-column: 2 span;
    }

    button {
        margin-bottom: 30px;
        background-color: #0c102a;
    }

}  
    