<div class="formulario">

  <h5>Valor do empréstimo R$</h5>
  
  <div class="input-field">
    <input id="last_name" type="text" class="validate">
    <label for="last_name">Last Name</label>
  </div>
  
  <div class="input-field">
    <input id="last_name" type="text" class="validate">
    <label for="last_name">Last Name</label>
  </div>

  <div class="input-field">
    <textarea id="textarea1" class="materialize-textarea"></textarea>
    <label for="textarea1">Textarea</label>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Enviar</button>

</div>