<div class="footer">
    <img src="../../assets/img/logotipo.png" alt="" class="logo">
      <div class="menu-footer">
        <a href="#">Sobre nós</a>
        <a href="#">Conheça o empréstimo que oferecemos</a>
        <a href="#">Parceiros</a>
        
        <span>
          <a href="#" class="contatos">Entre em contato com a gente</a>
          <img src="" alt="">
        </span>
        
        <a href="#">Como funciona</a>
        <a href="#">O que é empréstimo online?</a>
        
        <span>
          <a href="#" class="contatos">0800 1111 1111</a>
          <img src="" alt="">
        </span>
        
        <a href="#">Precisa de ajuda?</a>
        <a href="#">Avaliação de crédito</a>
        
        <span>
          <a href="#" class="contatos">atendimento@avivatec.com.br</a>
          <img src="" alt="">
        </span>
        
        <span>
          <a href="#" class="contatos">(11) 99999 9999</a>
          <img src="" alt="">
        </span>
      </div>

      <img src="../../assets/img/img-pontos-amarelos.png" alt="" class="img-pontos">

      <div class="texto-footer">
        <p>O site www.avivatec.com.br é de propriedade da XXXXXXXXX, CNPJ XXXXXXX, com sede no endereço XXXXXXXXXXXX.</p>
        <p>Não somos um banco ou uma financeira. Atuamos como Correspondente Bancário nos termos de Resolução nº 3.954 de 24/02/2011 do Banco Central do Brasil.</p>
        <p>Somos uma plataforma digital que conecta pessoas com parceiros financeiros para efetivação de empréstimo. Toda e qualquer análise de crédito e seus resultados são
          definidos exclusivamente pela instituição financeira parceira do BORACRED, com suas respectivas políticas e critérios de concessão.
        </p>
        <p>Nosso objetivo é proporcionar ao consumidor a melhor e mais adquada experiência do crédito de acordo com cada perfil, através de um processo 100% online. Ressaltamos
          que não cobramos nenhum valor de nossos clientes pelos nossos serviços de intermediação.
        </p>
        <p>Para entrar em contato ligue para (XX)XXXXXXX, horário de atendimento das XX às XX de segunda a sexta, exceto feriados ou envie um e-mail atendimento@avivatec.com.br. </p>
      </div>

      <img src="../../assets/img/img-pontos-amarelos.png" alt="" class="img-pontos">

      <div class="copyright">
        <p>© Avivatec - TODOS OS DIREITOS RESERVADOS.</p>
        <a href="#">Política de privacidade</a>
        <a href="#">Termos de uso</a>
      </div>

  </div>
      

