.footer {
    background-color: #0c102a;
    
    a {
        text-decoration: none;
    }
    //    display: grid;
    //    grid-template-columns: 3fr 1fr;
    //    border: 1px solid yellow;
    
    & > img:first-child {
        margin: 100px 0 100px 100px;
    }

    .bloco {
        display: flex;
        flex-direction: row;
    }
    
    .menu-footer {
        border: 1px solid yellow;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 100px;
        grid-row-gap: 40px;
        
        .contatos {
            color: #fff;
        }
    }
    
    .menu-footer > a {
        border: 1px solid #ccc;
        color: #fedd00;
        height: 30px;
        min-width: 300px;

       &:nth-child(6) {
           grid-column: 2 span;
       }

       &:nth-child(9) {
           grid-column: 2 span;
       }
    }

    .texto-footer, .copyright {
        color: #fff;
        padding: 0 100px;
    }

    
    .img-pontos {
        margin: 40px 100px;
    }
   
    .copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #fff;
        padding-bottom: 100px;
        font-weight: bold;

        a {
            color: #fedd00;
            margin-left: 93px;
        }
    }


       

}