<div class="card-valor" *ngIf="!teste">
    <h4>De quanto você precisa? {{exibeValores}}</h4>
    <div class="card-item">
        <ng-container *ngFor="let card of valores; let last = last">
            <div class="item">
                <span>R$ {{card.valor.toFixed(2)}}</span>
            </div>

            <div [ngClass]="{'item ultimo-card': last}" *ngIf="last && !exibeValores" (click)="outroValor()">
                <span>Outro valor</span>
            </div>
        </ng-container>
    </div>
    <p>Mínimo de R$ 700,00 e máximo de R$ 20 mil com taxas a partir de <span>2,97%</span></p>
</div>

<app-formulario *ngIf="teste"></app-formulario>