.card {
    min-height: 258px;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 41px;
    padding-top: 20px;
    text-align: center;

    h4 {
        font-size: 1rem;    
    }

    .card-item {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .item {
        background-color: yellow;
        width: 160px;
        height: 47px;
        border-radius: 6px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        cursor: pointer;

        &:last-child{
            background-color: transparent;
            border: 2px solid #a29a9a;
            color: #464444;
        }
    }
}