<section>
  <div class="container-section">
    <img src="../../assets/img/card-esquerdo.png" alt="" class="imagem-lateral">
    <div class="card-emprestimo">
      <img src="../../assets/img/card-top.png" alt="" class="imagem-top">
      <app-cadastro></app-cadastro>
    </div>
    <img src="../../assets/img/card-direito.png" alt="" class="imagem-lateral">
  </div>
  
  <p>Ainda não é cliente? <span>Clique aqui e cadastre-se.</span></p>

  <img src="../../assets/img/action-buttom.png" alt="">
</section>





