<div class="banner">
  <div>
    <h1>Bora investir em você?</h1>
    <img src="../../assets/img/img-pontos-banner.png" alt="">
    <p>A ASvivatec veio para te ajudar quando você mais precisa e ainda facilitar seu dia-a-dia.</p>
    <p>Todo nosso processo é online. Esquece isso ir ao banco e toda aquela burocracia... nós cuidamos de tudo para você!</p>
    <p>Conectamos você com nossos parceiros financeiros, para contratação de empréstimos, sempre buscando as melhores opções de acordo com cada perfil.</p>
  </div>
  <img src="../../assets/img/img-banner.jpg" alt="">
</div>
