.banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 468px;
    background-color: #fff;
    
        div {
            display: flex;
            flex-direction: column;
            align-items: self-end;
            justify-content: center;
            padding-left: 101px;
            padding-right: 50px;
            text-align: left;
            padding-bottom: 20px;

            h1 {
                font-size: 2.5rem;
            }

            p {
                margin: 0 0 7px;
            }

            & > img {
                margin-bottom: 12px;
            }

             @media screen and (max-width:768px) {
               h1 {
                   font-size: 2rem; 
                   margin: 0 auto;
               }

                & > img {
                    margin: 32px auto;
                }

                text-align: justify;
                padding: 0 50px;
            }
            
             @media screen and (max-width:503px) {
                h1 {
                    font-size: 1.4rem;
                }
             }


             @media screen and (max-width:320px) {
                h1 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.9rem;
                    margin: 10px 0;
                    
                }
             }
             
        }
    
        & > img {
            margin-right: 50px;
            width: 45%;
        }  
        
        @media screen and (max-width:768px) {
            
             & > img {
                margin-right: 50px;
                width: 45%;
                border: 1px solid red;
                display: none;
            }
            
        }    
}