<div class="container">
  
  <!-- <div class="aviso">
    <img src="../../assets/img/exclamacao.png" alt="">
    <p>Não cobramos nenhum valor de nossos clientes pelo serviço prestado, 
      protanto NUNCA faça nenhum depósito ou pagamento antecipado para obter seu empréstimo.</p>
    <img src="../../assets/img/close.png" alt="">
  </div> -->

  <!-- <section>
    <div class="menu">
      <img src="../../assets/img/logotipo.png" alt="" class="">
      <div class="item-menu">
        <a>Sobre nós</a>
        <a>Como funciona</a>
        <a>arecisa de ajuda?</a>
        <div>
          <img src="../../assets/img/user.png" alt="">
          <a>Entrar</a>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <div class="texto">
    <p>Empréstimo<span>online</span></p>
    <p>Faça seu pedido realizando a simulação e bora resolver suas finanças!</p>
  </div> -->

  <section>
    <!-- <app-emprestimo></app-emprestimo> -->
  </section>

  <!-- <div class="funcionamento">
    <p>Como funciona?</p>
  </div> -->

  <section class="card-superior">
    <app-card-informativo [card]="cardSuperior"></app-card-informativo>
  </section>

  <section class="card-inferior">
    <app-card-informativo [card]="cardInferior" [cor]="'yellow'" [tamanhoImagem]="tamanhoImagem"></app-card-informativo>
  </section>

  <section>
    <app-banner></app-banner>
  </section>

  <div class="bloco-online">
    <h1>É tudo online!</h1>
    <h5>Vem cá que te explico melhor.</h5>
    <p>É a contratação de um empréstimo através da internet, da forma simples, 
      rápida e descomplicada. Você preenche o cadastro, recebe a aprovação, 
      assina o contrato de empréstimo e pronto... dinheiro na conta. 
      Tudo isso sem sair de casa. O processo é gratuito e Você só paga os juros 
      do empréstimo após efetivar a contratação.</p>
  </div>

  <section>
    <!-- <app-footer></app-footer> -->
  </section>

  

</div>


