<div class="container">
  
  <div class="aviso">
    <img src="../../assets/img/exclamacao.png" alt="">
    <p>Não cobramos nenhum valor de nossos clientes pelo serviço prestado, 
      protanto NUNCA faça nenhum depósito ou pagamento antecipado para obter seu empréstimo.</p>
    <img src="../../assets/img/close.png" alt="">
  </div>

  <div class="menu">
    <img src="../../assets/img/logotipo.png" alt="" class="">
    <div class="item-menu">
      <a>Sobre nós</a>
      <a>Como funciona</a>
      <a>arecisa de ajuda?</a>
      <div>
        <img src="../../assets/img/user.png" alt="">
        <a>Entrar</a>
      </div>
    </div>
  </div>

</div>
